/* styles.css */

/* Add styles here to customize the appearance of your app */

/* Color theme:
Main: rgb(64, 66, 88)
Sub window(s): rgb(71, 78, 104)
Buttons: rgb(80, 87, 122)
Main color: rgb(107, 114, 142)
Text: rgb(255, 255, 255)
 */

:root {
    --main-dark-background: #121212;
    --secondary-dark-background: #1b1522;
    --dark-font-color: #fff;

    --main-light-background: #ededed;
    --secondary-light-background: #e0d8eb;
    --light-font-color: #000;

    --primary-theme: #5124cc;
    --secondary-theme: #6b3ed3;
}


body {
    /* Set the font family and size to be easily readable.*/
    font-family: helvetica, sans-serif;
}

@media(prefers-color-scheme: dark) {
    body {
        background-color: var(--main-dark-background);
        color: var(--dark-font-color);
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--main-light-background);
        color: var(--light-font-color);
    }
}


button, select {
    background-color: rgb(80, 87, 122);
    color: rgb(255, 255, 255);

    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.modal {
    display: none; /* hide by default */
    position: fixed;
    left: 0;

    width: 90%; /* Set to 80 due to the margin */
    height: 85%;

    background-color: rgb(71, 78, 104); /* fallback colour */
    background-color: rgba(71, 78, 104, 0.97);

    margin: 5%;

    border-radius: 10px;
}
