/* styles.css */

/* Add styles here to customize the appearance of your app */

.modal {
    display: none; /* hide by default */
    position: fixed;
    top: 0;
    left: 0;

    width: 90%; /* Set to 80 due to the margin */
    height: 85%;

    background-color: rgb(220, 220, 220); /* fallback colour */
    background-color: rgba(220, 220, 220, 0.95);

    margin: 5%;
}
