
body {
    display: flex;
    margin: 0;
}

#sidebar {
    min-width: 280px;
    max-width: 300px;
    width: 15%;
    height: 100vh;
    margin-right: 10px;

    border-right: 1px solid rgb(255, 255, 255);

    position: relative; /* required to configure the settings div to be in the bottom left.*/

    user-select: none;
}

#sidebar-settings-button {
    /* used to set the bottom position */
    position: absolute;
    bottom: 0;

    /* set the style of the div */
    width: 100%;
    height: 7%;
    border-top: 1px solid rgb(255, 255, 255);

    /* set the spans to be in the middle */
    display: grid;
    align-items: center;
}

#sidebar-settings-button span {
    vertical-align: middle;
}

#right {
    /*Align items in row orientation*/
    display: flex;
    flex-direction: row;

    /*Set the height and the width of the div.*/
    height: 100vh;
    width: 100%;
}

#content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#info-panel {
    margin-right: 0;
    width: 50%;
    border: 1px solid rgb(255, 255, 255);
}

.active {
    background-color: rgb(80, 87, 122);
    font-style: italic;
}

.hover {
    background-color: rgb(71, 78, 104);
}

.sidebar-button {
    /*Set the way the button will be displayed.*/
    display: block;
    padding: 10px;

    /*Set the font changes*/
    font-size: 20px;
    font-weight: bold;

    /*Align the text inside the button.*/
    vertical-align: center;
    text-align: center;
}

/*Set to overview default show, as this is the default startup panel.*/
#overview {
    /*display: flex;*/
    /*flex-direction: column;*/
}

/*Automatically hide all sections of the content, so that only the one which is meant to be visible will be*/
.content-section {
    display: none;
}